<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.dao.UserMapper">

    <!--
    开启二级缓存
    策略FIFO
    刷新间隔flushInterval
    最大缓存个数size
    返回的对象被认为是只读readOnly
    -->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"
    />

    <select id="queryUserById" parameterType="int" resultType="user">
        select * from user where id = #{id}
    </select>

    <update id="updateUser" parameterType="user">
        update user set name = #{name},password = #{password} where id = #{id}
    </update>

</mapper>