<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--核心配置文件-->
<configuration>

    <!--引入外部配置文件db.properties-->
    <properties resource="db.properties">
    </properties>

    <!--配置日志工厂-->
    <!--SLF4J | LOG4J | LOG4J2 | JDK_LOGGING | COMMONS_LOGGING | STDOUT_LOGGING | NO_LOGGING-->
    <settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>

    <!--配置别名-->
    <typeAliases>
        <package name="com.kuang.pojo"/>
    </typeAliases>

    <!--default切换环境-->
    <environments default="test">
        <environment id="test">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--使用配置文件-->
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--每一个接口都需要在Mybatis的核心配置文件中注册-->
    <mappers>
        <mapper class="com.kuang.dao.AddressMapper"/>
        <mapper class="com.kuang.dao.BillMapper"/>
        <mapper class="com.kuang.dao.ProviderMapper"/>
        <mapper class="com.kuang.dao.RoleMapper"/>
        <mapper class="com.kuang.dao.UserMapper"/>
    </mappers>

</configuration>