<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuang.dao.BlogMapper">

    <insert id="addBlog" parameterType="blog">
        insert into blog (id, title, author, create_time, views)
        values (#{id}, #{title}, #{author}, #{createTime}, #{views})
    </insert>

    <!--sql片段-->
    <sql id="if-title-author">
        <if test="title != null">
            title = #{title}
        </if>
        <if test="author != null">
            and author = #{author}
        </if>
    </sql>

    <!--include 元素的 refid 属性或内部语句中使用属性值-->
    <sql id="someinclude">
        from
        <include refid="${include_target}"/>
    </sql>

    <!--
        传title，查指定书
        传作者，查作者所有书
        不传时，查所有书
    -->
    <select id="queryBlog" resultType="blog" parameterType="map">
        select * from blog
        <where>
            <!--引入sql片段-->
            <include refid="if-title-author"></include>
            <!--<if test="title != null">-->
            <!--    title = #{title}-->
            <!--</if>-->
            <!--<if test="author != null">-->
            <!--    and author = #{author}-->
            <!--</if>-->
        </where>
    </select>

    <!--
        传title，查指定书
        传作者，查作者所有书
        不传时，查精选的书
    -->
    <select id="queryBlogChoose" resultType="blog">
        select * from blog
        <where>
            <choose>
                <when test="title != null">
                    title = #{title}
                </when>
                <when test="author != null">
                    and author = #{author}
                </when>
                <otherwise>
                    and views > 5000
                </otherwise>
            </choose>
        </where>
    </select>

    <!--
        更新博客
    -->
    <update id="updateBlog" parameterType="map">
        update blog
        <set>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="author != null">
                author = #{author},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--
        拼接select * from blog b where 1=1 and (id = 1 or id = 2 or id = 3)
        传递万能map，在map中存入一个list,key=ids
    -->
    <select id="queryBlogForeach" parameterType="map" resultType="blog">
        select *
        from blog

        <where>
            1 = 1
            <!--where 会把open中的第一个and去掉-->
            <foreach collection="ids" item="id" open="and (" close=")" separator="or">
                id = #{id}
            </foreach>
        </where>
    </select>

</mapper>